<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <title>Corona Statistics</title>

    <style>
        h1{
            text-align: center;
        }

        .info-box{
            background-color: #d6d6d6;
            border: 2px solid #5d5d5d;
            margin-top: 50px;
            margin-left: 35%;
            margin-right: 35%;
            padding: 20px;
        }

        .map{
            width: 500px;
        }
    </style>
    <%- include('../partials/head'); %>
</head>
<body>
    <header>
        <%- include('../partials/header') %> 
    </header>
    <h1>Corona Statistics Germany</h1>
    <div class="info-box">INFO: <br> This Website is still in progress!
        <br>Here you can see a germany chart to see how many new corona infections there are in the different states.
        <br>To get the germany map the website uses the official Google Charts API to get the GeoCharts
    </div>
    <script>
        const options = {
            method: 'POST',
            headers: {
                'Content-Type': 'applications/json'
            },
            body: 'body-test'
        };
        const response = fetch('/stats', options);
        console.log(response);

        google.charts.load('current', {
            'packages':['geochart'],
            'mapsApiKey': '<%= process.env.google_maps_api_key %>'
        });
        google.charts.setOnLoadCallback(drawVisualization);

        var statesData = '<%= data.weekIncidence%>'
        console.log(statesData);

        function drawVisualization() {
            var data = google.visualization.arrayToDataTable([
                ['Provinces', 'Week Incidence'],
                ['DE-SH', 100],
                ['DE-MV', 200],
                ['DE-BE', 300],
                ['DE-ST', 400],
                ['DE-BB', 500],
                ['DE-TH', 700],
                ['DE-HE', 800],
                ['DE-BY', 900],
                ['DE-BW', statesData],
                ['DE-SL', 1200],
                ['DE-RP', 1300],
                ['DE-NW', 1400],
                ['DE-NI', 1500],
                ['DE-HB', 1600],
                ['DE-HH', 1700],
                ['DE-SN', 600],
            ]);

            var options = {
                region: 'DE',
                //displayMode: 'regions',
                colorAxis: {colors: ['green', 'blue']},
                resolution:'provinces'
            };

            var geochart = new google.visualization.GeoChart(
                document.getElementById('regions_div'));
            geochart.draw(data, options,  {width: 556, height: 347});
        }
    </script>

    <div id="regions_div"></div>

    <footer>
        <%- include('../partials/footer') %> 
    </footer>
</body>
</html>